<div id="groupManager">
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-xs btn-info" @click="add()">
                <i class="ace-icon glyphicon glyphicon-plus bigger-100"></i> 添加
            </button>
            <!-- <button class="btn btn-xs btn-danger" @click="remove()" :disabled="ids.length==0">
                <i class="ace-icon glyphicon glyphicon-remove bigger-100"></i>删除
            </button>
            <button class="btn btn-xs btn-success" type="button" @click="emptyKeyword()">
                <i class="ace-icon glyphicon glyphicon-refresh bigger-100"></i>刷新
            </button> -->
        </div>
    </div>

    <div class="space-4"></div>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive dataTables_wrapper">
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
						<th class="center">ID</th>
						<th class="center">组名称</th>
						<th class="center">Task数</th>
						<th class="center">文件数</th>
						<th class="center">文件大小</th>
						<th class="center">主机</th>
						<th class="center">操作</th>
                    </tr>
                    </thead>
                    <tbody class="infor-tbody">
                    	<tr v-for="(group, index) in groups">
							<td  class="center">{{index+1}}</td>
							<td  class="center">{{group.name}}</td>
							<td  class="center">{{group.taskNum}}</td>
							<td  class="center">{{group.fileNum}}</td>
							<td  class="center">{{group.fileLength/1000}}K</td>
							<td  class="center">
								<span v-for="host in group.hosts">
									<span v-show="host.current" class="label label-info label-white middle">{{host.hostPort}}</span>
									<span v-show="!host.current" class="label label-danger label-white middle">{{host.hostPort}}</span>
								</span>
							</td>
							<td  class="center">
								<div class="hidden-sm hidden-xs btn-group" style="text-align:center;">
		                            <div class="editbutton" style="display:inline;">
	                                    <a class="red" :href="'#/group/group_host_list.html?name='+group.name" style="margin-left:7px;" title="管理">
		                                    <i class="ace-icon fa fa-cogs bigger-130"></i>
		                                </a>
                                    </div>
		                        </div>
							</td>
						</tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="modules/group/groupManager.js"></script>
