<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Paging</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/global.css" media="all">
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div style="margin: 15px;" id="userManager">
			<blockquote class="layui-elem-quote">
				<h1>用户管理</h1></blockquote>
			<fieldset class="layui-elem-field">
				<div class="layui-field-box">
					<div>
						<button id="userAdd" class="layui-btn" @click="add();"><i class="layui-icon">&#xe654;</i>增加</button>
						<table class="site-table table-hover">
							<thead>
								<tr>
									<th>No</th>
									<th>姓名</th>
									<th>邮箱</th>
									<th>级别</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="con">
								<tr v-for="(user, index) in users">
									<td>{{user.id}}</td>
									<td>{{user.name}}</td>
									<td>{{user.mail}}</td>
									<td>{{user.type == 1?"Admin":"Member"}}</td>
									<td>{{user.createTime}}</td>
									<td>
										<button id="userEdit" class="layui-btn" @click="add(user);"><i class="layui-icon">&#xe642;</i>编辑</button>
										<button id="userDel" class="layui-btn" @click="del(user);"><i class="layui-icon">&#xe640;</i>删除</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</fieldset>
			<form class="layui-form">
				<div id="userAddOrEdit" class="tabbable" style="display:none;">
				  <div class="layui-form-item" id="userId" style="margin-top:10px;" v-show="item.id">
				    <label class="layui-form-label">No</label>
				    <div class="layui-input-block">
				     <!--  <button class="layui-btn layui-btn-disabled" style="width:400px;" >{{item.id}}</button> -->
				      <input type="text" name="no" class="layui-input layui-btn-disabled" style="width:400px;" v-model="item.id" :disabled="item.id">
				    </div>
				  </div>
				  <div class="layui-form-item" style="margin-top:10px;">
				    <label class="layui-form-label">姓名</label>
				    <div class="layui-input-block">
				      <input type="text" name="name" placeholder="请输入用户姓名"  class="layui-input" style="width:400px;" v-model="item.name">
				    </div>
				  </div>
				  <div class="layui-form-item" style="margin-top:10px;">
				    <label class="layui-form-label">密码</label>
				    <div class="layui-input-block">
				      <input type="password" name="password" placeholder="请输入用户密码"  style="width:400px;" class="layui-input" v-model="item.password">
				    </div>
				  </div>
				  <div class="layui-form-item" style="margin-top:10px;">
				    <label class="layui-form-label">Email</label>
				    <div class="layui-input-block">
				      <input type="text" name="Email" lay-verify="email" placeholder="请输入用户邮箱"  style="width:400px;" class="layui-input" v-model="item.mail">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">级别</label>
				    <div class="layui-input-block" style="width:400px;">
				      <select name="type" id="userType">
				        <option value="0">Member</option>
				        <option value="1">Admin</option>
				      </select>
				    </div>
				  </div>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="plugins/layui/lay/dest/layui.all.js"></script>
		<script type="text/javascript" src="js/userManager.js"></script>
	</body>
</html>