.idea/
out/
.classpath
.project
.settings/
bin/
.ext*
log/
/build/
/target
bak/
code/
/.gradle/
.gradle/
.DS_Store
jcoder.properties
jcoder.iml
jcoder.ipr
jcoder.iws
/jcoder_home/*
jcoder_home/h2db/jcoder.h2.db
