<div id="importFile" class="tabbable" style="overflow:auto;width:570px;height:320px;">
    <div class="tab-content">
        <div class="alert alert-block alert-success">
            <p>
                <ul>
                    <li v-for="host in hosts" style="float:left;list-style:none;margin:3px;">
                        <input type="checkbox" :value="host" v-model="checkedHosts" />
                        <label>{{host}}</label>
                    </li>
                </ul>
            </p>
            <span>&nbsp;</span>
        </div>
        <div id="home" class="tab-pane fade in active">
            <form class="form-horizontal" id="importDlg" action="" role="form" enctype="multipart/form-data" method="post" onsubmit="return false">
                <div class="form-group">
                    <div class="col-md-offset-1 col-xs-10">
                        <input type="text" id="filePath" class="col-sm-12" v-model="filePath" name="filePath" :disabled="filePath"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-xs-10">
                        <input name="file" multiple="" type="file" id="id-input-file-3" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var importFile = new Vue({
        el: '#importFile',
        data: {
            checkedHosts:[],
            hosts:[],
            groupName:'',
            filePath:''
        },
        mounted: function () { // 初始化执行
            var $this = this;
            $('#id-input-file-3').ace_file_input({
                style: 'well',
                no_file:'没有选择文件',
                btn_choose: '选择文件',
                btn_change: null,
                no_icon: 'ace-icon fa fa-cloud-upload',
                droppable: true,
                thumbnail: 'small'
            }).on('file.error.ace', function(event, info) {
                 JqdeBox.message(false,'请选择文件！');
            });
        },
        methods: { // 方法

        }
    });
</script>
