<style>
.CodeMirror {
    border-radius: 3px;
    overflow: hidden;
    font-size: 14px;
    height: 520px;
    background-color: #000;
    color: #2ec607;
    line-height: 1;
    border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 18px;
	line-height:120% ;
}

.CodeMirror-sizer{
    margin-left: 29px !important;
}
</style>
<div id="resourceManager" class="page-content" style="overflow: hidden; height: 60%;">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <!--<p>
                <ul>
                    <li v-for="host in hosts" style="float:left;list-style:none;margin:3px;">
                        <input type="checkbox" :value="host" v-model="checkedHosts" />
                        <label>{{host}}</label>
                    </li>
                </ul>
                </p>
                <span>&nbsp;</span>-->
                <host-component :hosts.sync="hosts" :group-name="groupName" @change="change"/>
            </div>
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-pencil-square-o blue"></i>
                        Resource
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div id="result" class="col-xs-12">
                                <div class=" no-padding"  >
                                    <div class="col-sm-4 no-padding-left"  style="border-right: 1px solid #d6c2c2;">
                                        <div class="widget-header">
                                            <h5 class="widget-title">目录结构</h5>
                                        </div>
                                        <div class="space-4"></div>

                                        <div class="row" style="height:570px;overflow-x:hidden;overflow-y :auto">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-10" class="" id="tree_list" style="height:100%;overflow-y:auto;overflow-x:hidden;">
                                                <ul id="treeDemo" class="ztree" style="border: 0; background-color: white; width: 340px;overflow: visible"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 no-padding-right" >
                                        <div class="widget-header">
                                            <h5 class="widget-title">节点详情</h5>
                                            <span class="widget-toolbar">
                                                <i title="删除" @click="del(filePath)" class="ace-icon fa fa-trash-o bigger-150" v-show="!isFile"></i>
                                                <i title="创建文件夹" @click="createFolder()" class="ace-icon fa fa-folder-open bigger-150" v-show="!isFile"></i>
                                                <i title="下载文件" @click="downFile()" class="ace-icon fa fa-cloud-download bigger-150"></i>
                                                <i title="上传文件" @click="uploadFile()" class="ace-icon fa fa-cloud-upload bigger-150" v-show="!isFile"></i>
                                            </span>
                                        </div>
                                        <div class="space-4"></div>

                                        <div class="row" id="right-content" >
                                            <div id="fileContent" class="widget-main" style="display:none;">
                                                <textarea id="fileInfoDlg" style="width: 100%;" >{{fileInfo}}</textarea>
                                                <div class="col-md-offset-10 col-md-12" id="saveBtn" style="margin-top:10px;" >
                                                    <button class="btn btn-info" type="button" @click="saveAndFlush()">
                                                        <i class="ace-icon fa fa-check bigger-110"></i> 保存&刷新
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="folderContent" class="col-xs-12" style="height:570px;overflow-x:hidden;overflow-y :auto;">
                                                <table id="file-table" class="table table-striped table-bordered table-hover" >
                                                    <thead>
                                                        <tr>
                                                            <th class="center" style="border-bottom: 0px solid #ddd;">
                                                                <label class="pos-rel">
                                                                    <input type="checkbox" class="ace"/>
                                                                    <span class="lbl"></span>
                                                                </label>
                                                            </th>
                                                            <th class="center">文件名</th>
                                                            <th class="center">文件大小</th>
                                                            <th class="center">类型</th>
                                                            <th class="center">修改时间</th>
                                                            <th class="center">文件路径</th>
                                                            <th class="center">操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="infor-tbody" >
                                                        <tr v-for="(resource, index) in resources">
                                                            <td class="center">
                                                                <label class="pos-rel">
                                                                    <input type="checkbox" class="ace checkadmin" :value="resource.file.relativePath" @click="checkChanged()"/>
                                                                    <span class="lbl"></span>
                                                                </label>
                                                            </td>
                                                            <td >
                                                                <i class="glyphicon blue glyphicon-folder-open" v-if="resource.file.directory"></i>
                                                                <i class="glyphicon blue glyphicon-file" v-else></i>
                                                                <a href="javascript:void(0)" @click="nodeInfo(resource.file.name)">{{resource.file.name}}</a>
                                                            </td>
                                                            <td  class="center">{{(resource.file.length/1024).toFixed(2)}}k</td>
                                                            <td  class="center">{{resource.file.directory?"文件夹":"文件"}}</td>
                                                            <td  class="center">{{resource.file.date | datetime('yyyy-MM-dd HH:mm:ss')}}</td>
                                                            <td :title="resource.file.relativePath" class="center">
                                                                <div style="width: 150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display: block;">
                                                                    {{ _.escape(resource.file.relativePath) }}</div>
                                                            </td>
                                                            <td  class="center">
                                                                <div class="hidden-sm hidden-xs btn-group" style="text-align:center;">
                                                                    <div class="editbutton" style="display:inline;">
                                                                        <a class="red" href="javascript:;" style="margin-left:7px;" title="删除">
                                                                            <i class="ace-icon fa fa-trash-o  bigger-130" @click="del(resource.file.relativePath)"></i>
                                                                        </a>
                                                                        <a class="red" href="javascript:;" style="margin-left:7px;" title="下载">
                                                                            <i title="下载文件" @click="downFile(resource.file.relativePath)" class="ace-icon fa fa-cloud-download bigger-130"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.widget-main  padding: 1em;-->
                </div><!-- /.widget-body -->
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="modules/resource/css/demo.css" type="text/css">
<link rel="stylesheet" href="modules/resource/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="modules/resource/jquery.ztree.core-3.5.js"></script>
<script src="modules/resource/main.js"></script>
