<div class="row" id="vmTaskModule">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-api">接口</a></li>
            <li><a href="#tabs-cron">例行性任务</a></li>
            <li><a href="#tabs-recycle">回收站</a></li>
            <div class="clearfix">
                <div class="pull-right">
                    <a class="btn btn-info" title="添加" style="border: none;">
                        <span>
                            <i class="ace-icon fa fa-plus bigger-100"></i>
                            添加
                        </span>
                    </a>
                </div>
            </div>
        </ul>

        <div id="tabs-api" style="border:none; padding-left: 0; padding-right: 0;">
            <table class="table table-striped table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th width="20%">名称</th>
                        <th>描述</th>
                        <th width="4%">状态</th>
                        <th width="14%">创建时间</th>
                        <th width="14%">更新时间</th>
                        <th width="7%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in tasks">
                        <td>{{item.name}}</td>
                        <td :title="item.describe">
                            <span style="width:380px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display: block;"
                                  v-text="item.describe"></span>
                        </td>
                        <td>
                            <span v-if="item.status==1" class="label label-success label-white middle">
                                <i class="ace-icon glyphicon glyphicon-ok bigger-120"></i>
                                激活
                            </span>
                            <span v-else class="label label-warning label-white middle">
                                <i class="ace-icon fa fa-exclamation-triangle bigger-120"></i>
                                停用
                            </span>
                        </td>
                        <td>{{item.createTime}}</td>
                        <td>{{item.updateTime}}</td>
                        <td>
                            <div class="hidden-sm hidden-xs btn-group">
                                <button class="btn btn-xs btn-info" title="编辑">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" title="删除">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="tabs-cron" style="border:none">

        </div>

        <div id="tabs-recycle" style="border:none">

        </div>
    </div>
</div>
<script src="modules/task/main.js"/>
