<link type="text/css" rel="stylesheet" href="vendors/mergely/lib/mergely.css"/>
<style type="text/css">
    #vmTaskDiffModule .CodeMirror {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        overflow: no-display;
        font-size: 18px;
        height: auto;
    }

    #vmTaskDiffModule table tr td {
        padding-bottom: 9px;
    }
</style>

<div class="row" id="vmTaskDiffModule">
    <table class="col-md-12">
        <tr>
            <td class="col-md-2" style="padding-right:0;">
                <select class="form-control" v-model="lhs_host" @change="changeHost('lhs')">
                    <option v-for="item in hosts" :value="item">{{item}}</option>
                </select>
            </td>
            <td class="col-md-4" style="padding-right:16px;">
                <select class="form-control" v-if="lhs_host!='master'" v-model="lhs_version" @change="changeVersion('lhs')">
                    <option v-for="item in tasks[lhs_host]" :value="item.version">{{item.version}}</option>
                </select>
            </td>
            <td class="col-md-2" style="padding-right:0;">
                <select class="form-control" v-model="rhs_host" @change="changeHost('rhs')">
                    <option v-for="item in hosts" :value="item">{{item}}</option>
                </select>
            </td>
            <td class="col-md-4" style="padding-right:16px;">
                <select class="form-control" v-if="rhs_host!='master'" v-model="rhs_version" @change="changeVersion('rhs')">
                    <option v-for="item in tasks[rhs_host]" :value="item.version">{{item.version}}</option>
                </select>
            </td>
        </tr>
    </table>
    <div class="col-md-12" style="height:420px;">
        <div class="mergely-resizer">
            <div id="mergely"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="vendors/codemirror/addon/search/searchcursor.js"></script>
<script type="text/javascript" src="vendors/mergely/lib/mergely.min.js"></script>
