<style>
    #vmHomeModule .dataTables_wrapper .dataTables_empty, #vmHomeModule .dataTables_wrapper > .row {
        display: none;
    }
</style>

<div class="col-xs-12" id="vmHomeModule">
    <div class="search-area well row" style="padding: 10px 10px 7px 10px;margin-bottom: 7px;">
        <div class="row">
            <div class="col-xs-2">
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    <input class="form-control" type="text" name="dateRange"/>
                </div>
            </div>

            <div class="col-xs-1" v-for="i in [7,5,3,1]" style="margin-bottom: 5px; width:auto;">
                <span class="btn btn-white btn-default btn-date" :data-date="i" @click="selectDate($event,i)">
                    最近{{i}}天
                </span>
            </div>
        </div>

        <div class="space-4"></div>

        <div class="row">
            <div class="col-xs-1" v-for="host in hosts" style="margin-bottom: 5px;width: auto;">
                <span class="btn btn-white btn-primary btn-host active" :data-host="host" @click="selectHost($event,host)">
                    {{host}}
                </span>
            </div>
        </div>

        <div class="space-4"></div>

        <div class="row">
            <div class="col-xs-1" v-for="group in groups" style="margin-bottom: 5px;width: auto;">
                <span class="btn btn-white btn-info btn-group active" :data-group="group" @click="selectGroup($event,group)">
                    {{group}}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered table-hover"></table>
    </div>
</div>

<script>
    vmApp.module = new Vue({
        el: '#vmHomeModule',

        data: {
            hosts: ['全部主机'],
            groups: ['全部分组'],
            dataTable: null
        },

        mounted: function () {
            var me = this, dt = me.dataTable = $(me.$el).find('table:first').DataTable({
                bDestroy: true,
                bProcessing: true,
                columns: [
                    {title: '', sortable: false},
                    {title: "组名", data: "groupName", name: "groupName"},
                    {title: "类名", data: "className", name: "className"},
                    {title: "方法名", data: "methodName", name: "methodName"},
                    {title: "成功数", data: "successCount", name: "successCount"},
                    {title: "失败数", data: "errorCount", name: "errorCount"},
                    {title: "最小时长", data: "minDuration", name: "minDuration"},
                    {title: "最大时长", data: "maxDuration", name: "maxDuration"},
                    {title: "总时长", data: "totalDuration", name: "totalDuration"}
                ],

                autoWidth: false,
                /*select: {style: 'multi'},*/
                aaSorting: [],
                processing: true,
                paging: false,
                /*scrollY: "300px",
                 scrollCollapse: true,*/
                language: {
                    sProcessing: '<i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>&nbsp;&nbsp;处理中...',
                    sZeroRecords: "没有匹配结果",
                    sInfo: "共有记录数 _TOTAL_ 条",
                    sInfoEmpty: "共有记录数 0 条",
                    sInfoFiltered: "(由 _MAX_ 项结果过滤)",
                    sInfoPostFix: "",
                    sSearch: "搜索：",
                    sUrl: "",
                    sEmptyTable: "表中数据为空",
                    sLoadingRecords: "载入中...",
                    sInfoThousands: ",",
                    oAria: {
                        sSortAscending: ": 以升序排列",
                        sSortDescending: ": 以降序排列"
                    }
                }
            });
            dt.on('order.dt search.dt', function () {
                dt.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            // 初始化时间控件
            $('input[name=dateRange]', me.$el).daterangepicker({
                autoUpdateInput: true,
                applyClass: 'btn-sm btn-success',
                cancelClass: 'btn-sm btn-default',
                locale: Config.daterangepicker_locale.zh_CN
            }, function (start, end) {
                $('.btn-date', me.$el).removeClass('active');
                me.loadData();
            }).prev().on(ace.click_event, function () {
                $(this).next().focus();
            });

            // 获取所有主机及其分组
            Jcoder.ajax('/admin/logs/hostgroup/list', 'POST').then(function (data) {
                data = data.obj;
                _.reduce(data.hosts, function (memo, h) {
                    memo.push(h);
                    return memo;
                }, me.hosts);
                _.reduce(data.groups, function (memo, g) {
                    memo.push(g);
                    return memo;
                }, me.groups);
            }).catch(function (req) {
                JqdeBox.message(false, req.responseText);
            });

            //
            me.loadData();
        },

        methods: {

            loadData: function () {
                var me = this;

                // 先判断是否选择了最近x天，如果没有就取daterangepicker
                var date = $('.btn-date.active', me.$el).attr('data-date');
                if (!date) {
                    var data = $('input[name=dateRange]').data('daterangepicker');
                    date = data.startDate.format('YYYYMMDD') + ',' + data.endDate.format('YYYYMMDD');
                }

                //
                var selectedHosts = $('.btn-host.active', me.$el).map(function () {
                    return $(this).attr('data-host');
                }), selectedGroups = $('.btn-group.active', me.$el).map(function () {
                    return $(this).attr('data-group');
                });

                JqdeBox.loading();
                Jcoder.ajax('/admin/logs/stat/list', 'POST', {
                    dates: date,
                    hosts: selectedHosts.length < 1 ? '' : selectedHosts[0] != me.hosts[0] ? selectedHosts.splice(0, 1).join(',') : undefined,
                    groups: selectedGroups.length < 1 ? '' : selectedGroups[0] != me.groups[0] ? selectedGroups.splice(0, 1).join(',') : undefined
                }).then(function (data) {
                    JqdeBox.unloading();
                    me.dataTable.clear().rows.add(data.obj || []).draw();
                }).catch(function (req) {
                    JqdeBox.unloading();
                    JqdeBox.message(false, req.responseText);
                });
            },

            selectDate: function (evt, days) {
                var me = this;
                $('.btn-date', me.$el).removeClass('active');
                $(evt.target).addClass('active');
                me.loadData();
            },

            selectHost: function (evt, host) {
                var me = this;
                me.toggleActive($(evt.target), host, me.hosts, 'btn-host');
                me.loadData();
            },

            selectGroup: function (evt, group) {
                var me = this;
                me.toggleActive($(evt.target), group, me.groups, 'btn-group');
                me.loadData();
            },

            toggleActive: function ($target, item, items, cls) {
                var me = this, isAll = item == items[0], $items = $('.' + cls + ':not(:first)', me.$el);
                if (isAll) {
                    $items.toggleClass('active', !$target.hasClass('active'));
                }
                $target.toggleClass('active');
                if (!isAll) {
                    $('.' + cls + ':first', me.$el).toggleClass('active', $items.filter(function () {
                        return $(this).hasClass('active');
                    }).length == items.length - 1);
                }
            }
        }
    });
</script>
