/*body {
    padding-top:50px;
    padding-bottom: 40px;
    margin-right:200px;
    margin-left:200px;
    -webkit-transition: margin 500ms ease;
    -moz-transition: margin 500ms ease;
    -ms-transition: margin 500ms ease;
    -o-transition: margin 500ms ease;
    transition: margin 500ms ease;

}*/
.navbar-layoutit .btn-donate {padding: 0 0 0 10px;}
.navbar-layoutit .btn-donate form { margin:0;}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 979px) {
    .navbar-fixed-top { position:fixed; }
}

.hide{
    display:none;
}
.navbar-layoutit #menu-layoutit { float:left;}
.navbar-layoutit { min-height: 32px; padding: 5px; }
.navbar-layoutit .navbar-brand {width:180px; color:#fff; padding: 0; margin:0 5px; }
.navbar-layoutit .navbar-brand img {float:left; margin:2px 10px 0 0; }
.navbar-layoutit .navbar-brand .label {
    position:relative;
    left:10px;
    top:-3px;
    font-weight:normal;
    font-size:9px;
    background:#666;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.edit .demo { margin-left:0px; padding:30px 15px 15px;position:relative; word-wrap: break-word;}

.nav-left{
    position:fixed;

    left:0px;
    bottom:0;
    top:32px;
    background:#ccc;
    padding: 10px; z-index:10;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    /*overflow: scroll;
    overflow-x:hidden;*/
}
.container { width:auto; margin:0 0px;}

.fix_top {background-color:#E5E5E5;line-height:35px;}

.sidebar-nav {
    position:fixed;
    width:180px;
    height: 500px;
    right:0px;
    bottom:0;
    top:140px;
    background:#F2F3F0;
    padding: 10px; z-index:10;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.nav-header {  background-color:#D3D3DE;font-size:18px;  padding:4px;  margin-left:-30px;  cursor: pointer;text-indent: 10px;border-bottom: 1px solid #eeeeee;}
.nav-header span.label { font-size:10px; /*padding-bottom:0;*/ position:relative; top:-1px; }
.nav-header i.glyphicon-question-sign { color:#000; text-shadow:0 1px 0 #ddd;}
.nav-header .popover {color:#999; text-shadow:none;}

.nav-leftt{overflow-y:auto;overflow-x:hidden;height:500px;width:180px;margin-top: 5px; position: fixed;z-index: 10;border: 1px solid #D0D5DA;background:#F2F3F0;margin-left: -15px;}

.box1{line-height:25px;}

.bo{cursor:pointer;}

.popover-info {position:relative;}
.popover-info .popover {display:none; top: -12.5px; left:15px; }
.popover-info:hover .popover {display:block; opacity:1; width:300px;}
.popover-info:hover .popover .arrow {top:23px;}

.sidebar-nav .accordion-group { border:none; float:left;margin-left:-1px;}
.sidebar-nav li { line-height:28px; margin-bottom:3px; }
.sidebar-nav li .lyrow { margin-bottom:5px;}
.sidebar-nav .box { line-height:26px; width:160px; height:26px; }
.sidebar-nav .boxess {height:253px;overflow-y:auto;overflow-x:hidden;}
.sidebar-nav .box .label {float:right;margin-right:20px;}
.sidebar-nav .preview { display: block; color:#666; font-size:12px; line-height:26px;}
.sidebar-nav .preview input { width:105px; padding:0 10px; background:#bbb; font-size:10px; color:#999; line-height:20px; height:20px; position:relative; top:-1px; }
.sidebar-nav .view { display: none; position: relative }
.sidebar-nav .remove,
.sidebar-nav .configuration { display: none; }

.sidebar-nav 
.demo .preview { display: none; }
.demo .box .view { display: block; }


.ui-draggable-dragging .view { display:block;}
/*.demo .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible!Important; border-radius: 4px; }*/
.ui-sortable-placeholder { outline: 1px dashed #ddd;visibility: visible!Important; border-radius: 4px;}
.edit .drag { position: absolute; top: 0;right: 0; cursor: pointer; }
.edit .drag i {color:#000; text-shadow:0 1px 0 #ddd;}

.box,.lyrow { position:relative;}

.edit .demo .lyrow .drag { top:5px; right:80px; z-index:10; }
.edit .demo .column .box .drag { top:5px; }
.edit .demo .column .box .configuration {position: absolute; top: 3px; right: 140px;white-space:nowrap; }
.edit .demo .column .box .configuration:hover { z-index:1001;}

.edit .demo .column .navbar-fixed-top {top: 33px; left: 180px;}
.demo .column .navbar-fixed-top {top: 33px;}
.edit .demo .column .navbar-fixed-bottom { left: 180px;}

.edit .demo .remove { position: absolute; top: 5px; right: 5px; z-index:10; }
.demo .configuration {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.demo .drag, .demo .remove {
    filter: alpha(opacity=20); opacity: 0.2;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.demo .lyrow:hover > .drag,
.demo .lyrow:hover > .configuration,
.demo .lyrow:hover > .remove,
.demo .box:hover .drag,
.demo .box:hover .configuration,
.demo .box:hover .remove { filter: alpha(opacity=100); opacity: 1; }
.demo .row1 {
    background-color: #F5F5F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    position: relative;
    padding-top: 5px;
}
.edit .column:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;

}
 
/* 定义拖拽内容样式 */
.column-content{
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    position: relative;
}

.area_name{
	margin-left: 40%;
}

.column-content div{
	margin-top:3px;
}

.column {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding-bottom: 45px;
    position: relative;
}
.column-top:after {
    content: "Top";
    
}
.column-left:after {
    content: "Left";
}
.column-center:after {
    content: "Center";
    font-size: 20px;
    left:10px;
    top: 10px;
}
.column-right:after {
    content: "Right";
}
.column-bottom:after {
    content: "Bottom";
}
/* preview */
body.devpreview { margin-left:0px;}
/*.devpreview .sidebar-nav {
    left:-200px;
    -webkit-transition: all 0ms ease;
    -moz-transition: all 0ms ease;
    -ms-transition: all 0ms ease;
    -o-transition: all 0ms ease;
    transition: all 0ms ease;
}*/
.devpreview .drag, .devpreview .configuration, .devpreview .remove { display:none !Important; }
.sourcepreview .column, .sourcepreview .row, .sourcepreview .demo .box {
    margin:0px 0;
    padding:0px;
    background:none;
    border:none;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
}
.devpreview .demo .box, .devpreview .demo .row { padding-top:0; background:none; }
.devpreview .demo .column { padding-top:19px; padding-bottom:19px; }
#download-layout { display: none }
#feedbackModal textarea,
#downloadModal textarea { width:100%;height:280px;resize: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; }
#feedbackModal input { width:515px; }
#feedbackModal input.modal-error-field, #feedbackModal textarea.modal-error-field { border: 1px solid red; }
a.language-selected { font-style: italic; font-weight: bold; }

.modal-body { padding-bottom:0; }
.modal-footer { margin-top:0; }

.yulan{
    width:160px;
    height:200px;
    background: #fff;
    margin:10px auto;
}
.select-mb{
    width:160px;
    height:40px;
    vertical-align: middle;
}
.input_page{
	height:40px;
	vertical-align: middle;
}
.bc-botton{
	height:40px;
    vertical-align: middle;
    text-align: center;
 	padding:0px;
 	line-height: 40px;
 	width: 60px;
}
.lm-name{
    width:250px;
    height:30px;
}
.left{
    float: left;
}
.lm-name{
    margin-left: 20px;
}
.lm-name span{
    display: inline-block;
    color: #fff;
}

ul{
    list-style:none;
}
.biao{
    display: inline-block;
    font-size: 12px;
    padding: 4px 4px;
    border-bottom: 1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    z-index: 10;
    position: absolute;
    top:0;
    left:0;
    color: #999;
}
