input {
    outline: none;
}

.dataTables_wrapper .row:first-child {
    padding-bottom: 8px;
}

.dataTables_wrapper .dataTables_length {
    font-size: 13px;
    line-height: 30px;
}

.dataTables_wrapper .dataTables_info {
    font-size: 13px;
    line-height: 30px;
}

.dataTables_wrapper .row:last-child {
    padding-bottom: 6px;
}

.dataTables_wrapper .dataTables_filter input[type=search] {
    width: 200px;
    height: 20px;
    line-height: 20px;
}

.dataTables_wrapper table .btn {
    padding: 0px 2px 0px 4px;
    border-width: 2px;
}

.submenu1 .submenu-privileges {
    font-style: normal;
    margin-left: 20px;
}

.submenu1 .submenu-privileges input {
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}

.submenu1 .submenu-privileges span {
    margin: 0 4px;
}

.dataTables_wrapper .dataTables_processing {
    width: 20%;
    margin-left: -10%;
    padding: 20px;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.border0{
    border: 0px;
    width: 100%;
    height: 36px;
    padding-left: 8px;
}