<style>
.CodeMirror {
    border-radius: 3px;
    overflow: hidden;
    font-size: 14px;
    height: 520px;
    background-color: #000;
    color: #2ec607;
    line-height: 1;
    border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 18px;
	line-height:120% ;
}

.CodeMirror-sizer{
    margin-left: 29px !important;
}
</style>
<div id="mavenFileEdit" class="page-content" style="overflow: hidden; height: 60%;">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-success">
                <p>
                <ul>
                    <li v-for="host in hosts" style="float:left;list-style:none;margin:3px;">
                        <input type="checkbox" :value="host" v-model="checkedHosts" />
                        <label>{{host}}</label>
                    </li>
                </ul>
                </p>
                <span>&nbsp;</span>
            </div>
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-pencil-square-o blue"></i>
                        Maven Pom
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <textarea id="etlWorkerDlg-add-code" style="width: 100%;" >{{mavenInfo}}</textarea>
                    </div><!-- /.widget-main  padding: 1em;-->
                </div><!-- /.widget-body -->
            </div>
            <div class="col-md-offset-11 col-md-12">
                <button class="btn btn-info" type="button" @click="save()">
                    <i class="ace-icon fa fa-check bigger-110"></i> save
                </button>
            </div>
            <div class="widget-box" style="margin-top:60px;">
                <div class="widget-header">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-eye blue"></i>
                        console
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-inner">
                                    <div class="box-content" style="display: block;">
                                        <div id="console" style="line-height:120% ; width:100%; height:200px;; white-space:nowrap; overflow:auto; border:1px solid #000000; background:#000000; color: #FFF; padding: 5px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.widget-main  padding: 1em;-->
                </div><!-- /.widget-body -->
            </div>
        </div>
    </div>
</div>
<script src="modules/jar/mavenFileEdit.js"></script>
