<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<properties>
		<property name="LOG_PATH">log/jcoder.log</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%c-%-4r %-5p [%d{yyyy-MM-dd HH:mm:ss}]  %m%n" />
		</Console>
		<RollingRandomAccessFile name="File"
			fileName="${LOG_PATH}" filePattern="${LOG_PATH}.-%d{yyyyMMddHHmm}-%i">
			<PatternLayout pattern="%d{HH:mm:ss} %c{1} %-5p %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="10" />
				<SizeBasedTriggeringPolicy size="1024 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>
